
.site {
    /* --base-font-size:40px; */
    font-size: var(--base-font-size,12px);
    line-height: var(--base-line-hight,1.5);
    font-family: var(--base-font-family,'Helvetica, sans-serif');
}

h6{font-size: 1.2em;}
h5{font-size: 1.45em;}
h4{font-size: 1.8em;}
h3{font-size: 2.2em;}
h2{font-size: 2.6em;}
h1{font-size: 3.2em;}

